doctype html
html
	head
		meta(charset="utf-8")
		title Gulplife.js
		link(rel="stylesheet", href="style/style.min.css")
	body 
		.wrapper
			h1#text
		script(src="vendors/lib/jquery.min.js")
		script(src="js/app.min.js")