%link {
  display: inline-block;
  text-decoration : none;
  outline         : none;
  font-family: inherit;
}

%hdr {
  line-height: 1.5;
  color: inherit;
}

%button {
  display : inline-block;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  cursor : pointer;
}

%input {
	display: block;
	width: 100%;
	outline: none;
	font-family: inherit;
	color: inherit;
}