// Media queries
@mixin mq-small-up {
  @media (min-width : $sm-screen) {
    @content;
  }
}

@mixin mq-medium-up {
  @media (min-width : $md-screen) {
    @content;
  }
}

@mixin mq-large-up {
  @media (min-width : $lg-screen) {
    @content;
  }
}

@mixin mq-small {
  @media (max-width : $sm-screen - 1px) {
    @content;
  }
}

@mixin mq-medium {
  @media (min-width : $sm-screen) and (max-width : $md-screen - 1px) {
    @content;
  }
}

@mixin mq-large {
  @media (min-width : $md-screen) and (max-width : $lg-screen - 1px) {
    @content;
  }
}



// placeholders
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color : $color
  }
  &::-moz-placeholder {
    color : $color
  }
  /* Firefox 19+ */
  &:-moz-placeholder {
    color : $color
  }
  /* Firefox 18- */
  &:-ms-input-placeholder {
    color : $color
  }
}

@mixin clearfix {
  &:after {
    content : '';
    display : table;
    clear   : both;
  }
}