// Breakpoints:
$xs-screen : 480px;
$sm-screen : 680px;
$md-screen : 980px;
$lg-screen : 1200px;

// layout
$pad_xs: 10px;
$pad_sm: $pad_xs;
$pad_md: 15px;
$pad_lg: $pad_md;

// base colors
$clr_primary : #323232;
$clr_secondary : #f6da20;
$clr_success : #3bb528;
$clr_warning: red;
$clr_dark: #4c4c4c;

// text
$clr_hdr : $clr_dark;
$txt_clr : $clr_primary;
//$hrs_clr : $clr_hdr;
$lnk_clr : #337ab7;
$lnk_clr-hover : #23527c;

$icon-circle_bg : $clr_secondary;

// buttons
$clt_btn : #325c86;

// input
$clr_form_elms : #656565;
$input_placeholder : darkgrey;

$input_border: 1px solid $clr_form_elms;